.basket {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  margin: 10px 0;
  padding: 20px;
}

.basket-title {
  width: 100%;
  text-transform: uppercase;
  font-size: var(--medium-font);
  font-weight: 600;
}

.basket-list {
  margin: 12px 0 100px;
}

.basket-list-item {
  font-size: var(--medium-font);
  font-weight: 600;
  padding: 16px 0;
  border-bottom: 1px solid var(--ui-highlight);
}

.basket-list-item:first-child {
  border-top: 1px solid var(--ui-highlight);
}

.item-name,
.basket-total-label {
  display: inline-block;
  width: calc(100% - 65px);
}

.item-price,
.basket-total-price {
  width: 65px;
  float: right;
  text-align: right;
}

.item-size,
.basket-total-tax {
  display: block;
  font-size: var(--mini-font);
  margin-top: -2px;
  font-weight: 500;
}

.item-size {
  color: var(--eclectees-red);
}

.basket-total-tax {
  color: gray;
}

.basket-total-box {
  position: absolute;
  background-color: var(--ui-highlight);
  width: calc(100% - 20px);
  bottom: 10px;
  left: 10px;
  font-size: var(--medium-font);
  font-weight: 600;
  padding: 10px;
}
