.product-feed {
  position: relative;
  min-height: 25rem;
}

.products-list {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
}

.product-card {
  width: 33%;
  padding: 0.625rem;
}

.card {
  min-height: 18.75rem;
  background-color: var(--eclectees-white);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 0.625rem 0.625rem 2.5rem;
  position: relative;
}

.product-image {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  height: 12.5rem;
  background-color: var(--ui-background);
}

.product-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-name {
  display: inline-block;
  font-weight: 600;
  font-size: var(--small-font);
  width: calc(100% - 4rem);
  text-transform: uppercase;
}

.product-price {
  width: 4rem;
  font-weight: 500;
  float: right;
  text-align: right;
}

.product-cta {
  width: calc(50% - 0.625rem);
  background-color: var(--primary-cta);
  color: var(--eclectees-white);
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
}

.product-view {
  width: calc(50% - 0.625rem);
  background-color: var(--secondary-cta);
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
}

[for="sort-select"] {
  margin: 1.25rem 0.625rem;
  display: inline-block;
}
