footer.container {
  border-top: 0.125rem solid black;
  margin-top: 6.25rem;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.copyright,
.footer-link {
  margin-top: 0.25rem;
  font-size: var(--small-font);
}

.footer-links {
  display: flex;
}

.footer-link {
  display: block;
  padding: 0 0.3125rem;
  color: var(--eclectees-red);
  border-right: 0.0625rem solid currentColor;
}

.footer-link:last-child {
  border-right: none;
}
