header {
  padding: 1.5rem;
  display: flex;
}

.header-main-area {
  flex-grow: 1;
}

.eclecteese-logo {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.logo-superscript {
  font-size: 0.4rem;
  position: relative;
  top: -0.3rem;
  left: 0.125rem;
}

.otline-logo {
  background-color: transparent;
  border: 0.125rem solid var(--eclectees-red);
}

.filled-logo {
  background-color: var(--eclectees-red);
  color: var(--eclectees-white);
}

.basket-indicator {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
}
